/ExtendedWPFToolkitSolution/.vs/Xceed.Wpf.Toolkit/v15/.suo
/ExtendedWPFToolkitSolution/.vs/Xceed.Wpf.Toolkit/v15/sqlite3/storage.ide
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.AvalonDock.Themes.Aero/bin/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.AvalonDock.Themes.Aero/obj/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.AvalonDock.Themes.Metro/bin/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.AvalonDock.Themes.Metro/obj/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.AvalonDock.Themes.VS2010/bin/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.AvalonDock.Themes.VS2010/obj/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.AvalonDock/bin/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.AvalonDock/obj/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.DataGrid/bin/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.DataGrid/obj/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.Toolkit.LiveExplorer/bin/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.Toolkit.LiveExplorer/CodeFiles/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.Toolkit.LiveExplorer/obj/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.Toolkit.LiveExplorer/Xceed.Wpf.Toolkit.LiveExplorer.csproj.user
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.Toolkit/bin/*
/ExtendedWPFToolkitSolution/Src/Xceed.Wpf.Toolkit/obj/*
